---
import Layout from "@/layouts/Layout.astro";
import { OpenAPI, ContentService, type BlogPostContentModel } from "@/api";
import UmbracoGrid from "@/components/UmbracoGrid.astro";

export async function getStaticPaths() {
  OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;

  const posts = await ContentService.queryV20({
    filter: ["contentType:blogPost"],
    expand: "properties[$all[properties[image]]]",
    take: 100
  });

  return posts.items.map((page: BlogPostContentModel) => {
    const urlSplit = page.route.path.split("/");

    return {
      params: { slug: urlSplit[urlSplit.length - 1] },
      props: {
        id: page.id,
        name: page.name,
        title: page.properties.title,
        content: page.properties.content,
        slug: page.route.path,
        publishedDate: new Date(page.properties.publishedDate),
        grid: page.properties.grid,
      },
    };
  });
}

let path = Astro.url.pathname;
let trimmedPath = path.endsWith("/") ? path.slice(0, -1) : path;

const { id, title, slug, name, content, publishedDate, grid } = Astro.props;
---

<Layout name={title} image={`/og${trimmedPath}.png`}>
  <article
    class="c-article"
    style={`view-transition-name: article-${id}`}
  >
    <time datetime={publishedDate.toISOString()}>
      {
        publishedDate.toLocaleDateString("en-gb", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </time>
    <h1>{title}</h1>

    <UmbracoGrid data={grid} />
  </article>
</Layout>
