---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { getReadingTime } from '../../scripts/readingTime';

let posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
posts = posts.filter(x => x.data.draft !== true);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Blog - " + SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="c-main">
      <section class="c-posts">
      {
        posts.map((post) => (
          <article class="c-post" style={`view-transition-name: article-${post.slug}`}>
            <h2><a href={`/blog/${post.slug}/`}>{post.data.title}</a></h2>
            <ul class="date text-muted text-uppercase">
              <li>
                <time datetime={post.data.pubDate.toISOString()}>
                  {post.data.pubDate.toLocaleDateString('en-gb', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </time>
              </li>
              <li role="presentation">|</li>
              <li>
                  {getReadingTime(post.body)}
              </li>
            </ul>
            <p>{post.data.excerpt}</p>
          </article>
        ))
      }
      </section>
    </main>
    <Footer />
  </body>
</html>