---
import { marked } from "marked";
import {
  ContentService,
  OpenAPI,
  type BlogsPageContentModel,
  type BlogPostContentModel,
} from "@/api";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;
const nodes = await ContentService.queryV20({
  filter: ["contentType:blogsPage"],
});
const node: BlogsPageContentModel = nodes.items[0];

const { title, content } = node.properties;

const blogPosts = await getCollection("blog");
---

<Layout name={title}>
  <article class="c-article c-flow">
    <h1>{title}</h1>
    <Fragment set:html={marked.parse(content ?? "")} />
  </article>

    {
      blogPosts.map((blogPost) => {
        const publishedDate = new Date(
          blogPost.data.content?.properties?.publishedDate
        );

        return (
          <article class="c-article c-flow" style={`view-transition-name: article-${blogPost.data.id}`}>
            <time datetime={publishedDate.toISOString()}>
              {publishedDate.toLocaleDateString("en-gb", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <h2 class="h3">
              <a href={blogPost.data.slug}>{blogPost.data.name}</a>
            </h2>
            <p>{blogPost.data.content?.properties?.content}</p>
          </article>
        );
      })
    }
</Layout>
