---
import { marked } from 'marked';
import { ContentResource, OpenAPI, type BlogsPageContentModel, type BlogPostContentModel } from '@/api';
import Layout from '@/layouts/Layout.astro';

OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;
const nodes = await ContentResource.getContent20({
  filter: ['contentType:blogsPage']
});
const node: BlogsPageContentModel = nodes.items[0];

const {
  title,
  content
} = node.properties

const blogPosts = await ContentResource.getContent20({
  filter: ['contentType:blogPost'],
  sort: ['publishedDate:desc']
});
---

<Layout name={title}>
  <article class="mb-12">
    <h1>{title}</h1>
    <div set:html={marked.parse(content)}></div>
  </article>

      <section class="c-posts">
      {
        blogPosts.items.map((blogPost: BlogPostContentModel) => (
          <article class="mb-10" style={`view-transition-name: article-${blogPost.id}`}>
            <h2 class="mb-1"><a href={blogPost.route.path}>{blogPost.name}</a></h2>
            <ul class="text-gray-600 dark:text-zinc-400">
              <li>
                <time datetime={new Date(blogPost.properties.publishedDate).toISOString()}>
                  {new Date(blogPost.properties.publishedDate).toLocaleDateString('en-gb', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </time>
              </li>
            </ul>
            <p>{blogPost.properties.content}</p>
          </article>
        ))
      }
      </section>
</Layout>