---
import { marked } from 'marked';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import * as api from '@/api';

const config = new api.Configuration({ basePath: import.meta.env.PUBLIC_BASE_URL });
const contentApi = new api.ContentApi(config);
const nodes = await contentApi.getContent20({
  filter: ['contentType:blogsPage']
});
const node: api.BlogsPageContentModel = nodes.items[0];

const {
  title,
  content
} = node.properties

const blogPosts = await contentApi.getContent20({
  filter: ['contentType:blogPost'],
  sort: ['publishedDate:desc']
});
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={`${title} - ${SITE_TITLE}`} description={content} />
  </head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="c-main">
      <article class="c-content c-post">
        <h1>{title}</h1>
        <div set:html={marked.parse(content)}></div>
      </article>

      <section class="c-posts">
      {
        blogPosts.items.map((blogPost: api.BlogPostContentModel) => (
          <article class="c-post" style={`view-transition-name: article-${blogPost.id}`}>
            <h2><a href={blogPost.route.path}>{blogPost.name}</a></h2>
            <ul class="date text-muted text-uppercase">
              <li>
                <time datetime={new Date(blogPost.properties.publishedDate).toISOString()}>
                  {new Date(blogPost.properties.publishedDate).toLocaleDateString('en-gb', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </time>
              </li>
            </ul>
            <p>{blogPost.properties.content}</p>
          </article>
        ))
      }
      </section>
    </main>
    <Footer />
  </body>
</html>