---
import { marked } from 'marked';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { ContentResource, OpenAPI, type HomePageContentModel } from '@/api';

OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;
const nodes = await ContentResource.getContent20({ filter: ['contentType:homePage'] });
const node: HomePageContentModel = nodes.items[0];

const {
  title,
  content,
  featuredImage
} = node.properties
const baseUrl = import.meta.env.PUBLIC_BASE_URL_HTTPS

const width: number = featuredImage[0].width;
const height: number = featuredImage[0].height;
const src: string = `${baseUrl}${featuredImage[0]?.url}?width=1680`;
const alt: string = featuredImage[0]?.properties?.altText || '';

---

<Layout name={"Lead Software Engineer"}>
  <section>
    <figure class="lg:-mx-32">
      <Image src={src} alt={alt} width={width} height={height} class="rounded-xl" />
    </figure>
    <article class="c-content" set:html={marked.parse(content)}>
    </article>
  </section>
</Layout>
