---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import client from '@/utils/umbraco-client'

const node = await client.getContentById('home')
const {
  content,
  featuredImage: [featuredImage]
} = node.properties
const baseUrl = import.meta.env.PUBLIC_BASE_URL_HTTPS

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="c-main">
      <section class="c-home">
        <figure class="c-figure">
          <picture>
            <source srcset=`${baseUrl}${featuredImage.url}?width=900&height=900&format=webp` type="image/webp">
            <source srcset=`${baseUrl}${featuredImage.url}?width=900&height=900` type="image/jpeg">
            <img src=`${baseUrl}${featuredImage.url}?width=900&height=900` alt="Rick Butterfield" width="900" height="900" style="aspect-ratio: 1 / 1; width: 100%;">
          </picture>
        </figure>
        <article class="c-content" set:html={content.markup}>
        </article>
      </section>
      </main>
      <Footer />
	</body>
</html>
