---
import { marked } from "marked";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { ContentService, OpenAPI, type HomePageContentModel } from "@/api";

OpenAPI.BASE = import.meta.env.PUBLIC_BASE_URL;
const nodes = await ContentService.queryV20({
  filter: ["contentType:homePage"],
  expand: "properties[$all[properties[image]]]",
});
const node: HomePageContentModel = nodes.items[0];

const { title, content, featuredImage } = node.properties;
const baseUrl = import.meta.env.PUBLIC_BASE_URL_HTTPS;

const width: number = featuredImage[0].width;
const height: number = featuredImage[0].height;
const src: string = `${baseUrl}${featuredImage[0]?.url}?width=2000&height=1125`;
const alt: string = featuredImage[0]?.properties?.altText || "";
---

<Layout name={"Lead Software Engineer & 3× Umbraco MVP"}>
  <section>
    <figure>
      <Image
        src={src}
        alt={alt}
        width={2000}
        height={1125}
      />
    </figure>
    <article
      set:html={marked.parse(content)}
    />
  </section>

  <section>
    <h2>Recent Blogs</h2>

  </section>
</Layout>
